{
    "swagger": "2.0",
    "info": {
        "title": "SE2 - Group #16 - Stock Predictor API",
        "description": "Instructions for using the API",
        "version": "1.0.0"
    },
    "host": "www.rugatech.com",
    "schemes": [
        "http"
    ],
    "basePath": "/se2/api",
    "produces": [
        "application/json"
    ],
    "tags": [
        {
            "name": "Users",
            "description": "Everything about users"
        }
    ],
    "paths": {
        "/user": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Add a new user",
                "description": "",
                "operationId": "addPerson",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Person object that needs to be added as a user",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AddUsers"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok"
                    },
                    "405": {
                        "description": "Invalid Input"
                    },
                    "500": {
                        "description": "Unable to add user"
                    }
                }
            }
        },
        "/user/{pkey}": {
			      "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Fetch a user",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "pkey",
                        "in": "path",
                        "description": "pkey for the person",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok"
                    },
                    "404": {
                        "description": "Person not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Users"
                ],
                "summary": "Edit a user",
                "description": "",
                "operationId": "editUser",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "pkey",
                        "in": "path",
                        "description": "pkey for the user",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "User object that needs to be editted",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/EditUsers"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok"
                    },
                    "401": {
                        "description": "You cannot edit this user"
                    },
                    "405": {
                        "description": "Invalid Input"
                    },
                    "500": {
                        "description": "Unable to edit user"
                    }
                }
            }
        },
        "/user/login": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Login",
                "description": "",
                "operationId": "login",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Log into the website",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Login"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok"
                    },
                    "401": {
                        "description": "Incorrect Password"
                    },
                    "404": {
                        "description": "Invalid Password OR User Not Found OR Invalid E-Mail Address"
                    },
                    "500": {
                        "description": "Unable to authenicate user"
                    }
                }
            }
        },
        "/user/logout": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Logout",
                "description": "",
                "operationId": "logout",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Ok"
                    },
                    "500": {
                        "description": "Database Error"
                    }
                }
            }
        }
    },
    "definitions": {
        "AddUsers": {
            "type": "object",
            "properties": {
                "fname": {
                    "type": "string"
                },
                "lname": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                }
            }
        },
        "EditUsers": {
            "type": "object",
            "properties": {
                "fname": {
                    "type": "string"
                },
                "lname": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                }
            }
        },
        "Login": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    }
}