<div id="createUserModal" role="dialog">
	<div class="modal-header"><h4 class="modal-title">Create User</h4></div>
	<div class="modal-body" style="font-size:12px">
   		<form class="form-horizontal" role="form">
   	    	<div class="form-group">
       	    	<label for="netid" class="control-label col-xs-4">First Name</label>
          		<div class="col-xs-8">
	                <input type="text" class="form-control input-sm" id="cu_fname" data-ng-model="cuCtrl.fname">
          		</div>
      		</div>
   	    	<div class="form-group">
       	    	<label for="netid" class="control-label col-xs-4">Last Name</label>
          		<div class="col-xs-8">
	                <input type="text" class="form-control input-sm" id="cu_lname" data-ng-model="cuCtrl.lname">
          		</div>
      		</div>
   	    	<div class="form-group">
       	    	<label for="netid" class="control-label col-xs-4">E-Mail</label>
          		<div class="col-xs-8">
	                <input type="text" class="form-control input-sm" id="cu_email" data-ng-model="cuCtrl.email" value="">
          		</div>
      		</div>
      		<div class="form-group">
	            <label for="email" class="control-label col-xs-4">Password</label>
          		<div class="col-xs-8">
	                <input type="password" class="form-control input-sm" id="cu_password" data-ng-model="cuCtrl.password">
          		</div>
      		</div>
      		<div class="form-group">
	            <label for="email" class="control-label col-xs-4">Re-Type Password</label>
          		<div class="col-xs-8">
	                <input type="password" class="form-control input-sm" id="cu_password2" data-ng-model="cuCtrl.password2">
          		</div>
      		</div>
   		</form>
   	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-sm btn-info" data-ng-click="cuCtrl.save()">Save</button>
		<button type="button" class="btn btn-sm btn-info" data-ng-click="cuCtrl.close()">Cancel</button>
	</div>
</div>