<div class="rehs_header">Main Menu</div>
<div style="width:100%;text-align:center">
	<button type="button" class="btn btn-sm btn-info mr5" data-ng-click="mCtrl.editUser()"><i class="fa fa-pencil mr5"></i>Edit Profile</button>
	<button type="button" class="btn btn-sm btn-info ml5" data-ng-click="mCtrl.logout()"><i class="fa fa-sign-out mr5"></i>Logout</button>
</div>
<div class="panel panel-success stocks-table" id="stocksDiv" style="width:200px">
	<div class="panel-heading">Stocks I am following</div>
    <div class="panel-body">
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>Symbol</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="stock in mCtrl.stocks">
					<td><i class="fa fa-remove fa-2x"></i></td>
					<td>{{stock.stock}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- <div class="panel panel-success results-table" id="registrationsDiv" data-ng-show="psCtrl.registrationsDiv">
	<div class="panel-heading">Registration Results</div>
    <div class="panel-body">
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>NetID</th>
					<th>Timestamp</th>
					<th>Reg Type</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="person in psCtrl.people">
					<td>{{person.fname}}</td>
					<td>{{person.lname}}</td>
					<td>{{person.email}}</td>
					<td>{{person.netid}}</td>
					<td>{{person.ts}}</td>
					<td>{{person.reg_type}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div> -->