body{font-size:8pt;font-family:verdana;margin:0px auto;align:center;text-align:left;width:985px;}
.body_container{width:985px}
div.rehs_header{font-weight:bold;font-family:arial;font-size:14pt;width:100%;text-align:center;padding:10px 0;}
#header_image{background-color:#E21B42;width:100%}
#header_image a{border:0px}
.program_title{text-align:center;background-color:#E21B42;font-weight:bold;font-size:15pt;color:#FFFFFF;padding:5px 0px;font-family:arial;width:100%}
.rehs_link{text-align:right;background-color:#EBB600;padding:2px 0px;width:100%}
.rehs_link a{text-decoration:none;color:#000000;font-weight:bold}
.outer_container{width:100%}
.footer_bar{width:100%;text-align:left;margin-bottom:5px}
#footer{width:100%;font-family:arial;font-size:8pt;margin-top:15px}
#footer .container1{width:100%}
#footer .container1 .container1_left{float:left;width:50%;text-align:left}
#footer .container1 .container1_right{float:right;width:50%;text-align:right}
#footer .footer_date{width:100%;padding-top:3px}


a.addLink{cursor:pointer;color:#050;font-weight:bold}
a.addLink img{margin-bottom:-3px;margin-right:3px}
.bold{font-weight:bold}
.right{text-align:right}
.ginablue{background-color:#056191;color:#FFF}
.bgcolor-primary{background-color:#C0C0FF;}.bgcolor-lightgreen{background-color:#90EE90}.bgcolor-gold{background-color:#FFD700}.bgcolor-violet{background-color:#EE82EE}.bgcolor-orange{background-color:#FFA500}.bgcolor-ginablue{background-color:#056191;color:#FFF}


.icarus-panel{border:1px solid #000;-webkit-box-shadow: 0 4px 4px 0 #C2C2C2;box-shadow: 0 4px 4px 0 #C2C2C2}
.icarus-panel{-moz-border-radius: 6px;-webkit-border-radius: 6px;	border-radius: 6px}
.icarus-panel .icarus-panel-header{-moz-border-radius: 6px 6px 0px 0px;-webkit-border-radius: 6px 6px 0px 0px;border-radius: 6px 6px 0px 0px;text-align:center;font-size:12px;font-weight:bold;padding:6px;font-family:Verdana,Hevetica,sans-serif}
.icarus-panel .icarus-panel-body{padding:6px;font-size:12px;}

.roundTable,.roundTable_flatBottom{border:1px solid #000;-webkit-box-shadow: 0 4px 4px 0 #C2C2C2;box-shadow: 0 4px 4px 0 #C2C2C2}
.roundTable{-moz-border-radius: 6px;-webkit-border-radius: 6px;	border-radius: 6px}
.roundTable_flatBottom{-moz-border-radius: 6px 6px 0px 0px;-webkit-border-radius: 6px 6px 0px 0px;border-radius: 6px 6px 0px 0px}	
.roundTable .rtHeader,.roundTable_flatBottom .rtHeader{background-color:lightgreen;-moz-border-radius: 6px 6px 0px 0px;-webkit-border-radius: 6px 6px 0px 0px;border-radius: 6px 6px 0px 0px;text-align:center;font-size:12px;font-weight:bold;padding:6px;font-family:Verdana,Hevetica,sans-serif}
.roundTable .rtBody,.roundTable_flatBottom .rtBody{padding-top:5px;font-size:12px;padding-bottom:5px}
.roundTable_flatBottom .rtBody{background-color:#FFF}
table.primary,table.primary_highlight,table.primary_largeFont{border:1px solid;border-color:#000000;border-collapse:collapse;background-color:#FFFFFF}
table.primary td,table.primary_highlight td,table.primary_largeFont tr td{padding:3px}
table.primary_largeFont td{font-size:11pt}
table.primary_highlight tr td{padding:3px}
table.primary_highlight tbody tr:hover{background-color:#CCCCCC} 
.sub_header{text-decoration:underline;font-weight:bold;color:#000000;text-align:center}

#searchDiv{margin:0px auto;width:300px;}
#searchDiv form .form-group label{padding-right:0px;font-size:13px;font-weight:normal}
#searchDiv .panel-heading{text-align:center;font-size:14px}
.stocks-table{margin:0px auto;width:90%;margin-top:20px}
.stocks-table .panel-heading{text-align:center;font-size:14px}
.modal-sm-400{width:400px}
.mr5{margin-right:5px}
.ml5{margin-left:5px}
.fa{cursor:pointer}
#preload_div{width:100%;text-align:center;margin-top:15px}
.chartTitle{width:100%;text-align:center;margin-top:15px;font-size:16px;font-weight:bold}
#chart_div{width: 900px; height: 501px;}