<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="false" showFlags="Time, Size, Extension" />
    	<security>
	        <requestFiltering>
	            <verbs allowUnlisted="false">
	                <add verb="GET" allowed="true" />
	                <add verb="POST" allowed="true" />
	                <add verb="DELETE" allowed="true" />
	                <add verb="PUT" allowed="true" />
	            </verbs>
	        </requestFiltering>
    	</security>
    	<rewrite>
			<outboundRules>
				<rule name="slim-outbound">
					<match serverVariable="RESPONSE_CONTENT_TYPE" pattern="" />
                    <action type="Rewrite" value="application/json; charset=utf-8" />
                </rule>
                <rule name="slim-outbound2">
                    <match serverVariable="RESPONSE_SERVER" pattern="" />
                    <action type="Rewrite" value="" />
                </rule>
                <rule name="slim-outbound3">
                    <match serverVariable="RESPONSE_X-POWERED-BY" pattern="" />
                    <action type="Rewrite" value="" />
                </rule>
            </outboundRules>
			<rules>
	    	    <rule name="slim" stopProcessing="true">
	    	      <match url="^(.*)$" ignoreCase="false" />
	    	      <conditions logicalGrouping="MatchAll">
	    	        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
	    	        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
	    	      </conditions>
	    	      <action type="Rewrite" url="app.php/{R:1}" appendQueryString="true" />
    	    </rule>
    	    <rule name="slim_blank" stopProcessing="true">
    	      <match url="" ignoreCase="false" />
    	      <action type="Rewrite" url="app.php/" appendQueryString="true" />
    	    </rule>
    	  </rules>
    	</rewrite>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type,Accept,Authorization" />
				<add name="Access-Control-Allow-Methods" value="GET,POST,DELETE,PUT,OPTIONS" />
			</customHeaders>
		</httpProtocol>
    </system.webServer>
</configuration>
